// @import url("https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Gothic:wght@400;500;600;700;800&display=swap");

@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/copperplate');