// _________________________________PX to REM____________________________
@function rem($px) {
  $rem-size: 16px;
  @return calc($px / $rem-size) * 1rem;
  // @return $px;
}

@function mrem($px) {
  $rem-size: 16px;
  @return calc($px / $rem-size) * 1rem;
  // @return $px;
}

$font-size-base: 16px; // this value depend on parent div font size
@function em($px, $context: $font-size-base) {
  @return calc($px / $context) * 1em;
}

@function vw($target) {
  $vw-context: (1000 * 0.01) * 1px;
  @return calc($target/$vw-context) * 1vw;
}

@function px-to-px($px) {
  @return $px;
}

// .my-element {
//   font-size: px-to-rem(12px); // Returns 0.75rem
//   margin: px-to-em(20px, 12px) px-to-em(30px); // Returns 1.67em 2.5em
// }
