body,
html {
  font-family: $pf-font;
  line-height: 1;
  font-size: $rem-size;
  font-weight: $font-r;
  color: $p-color;
  margin: 0;
  padding: 0;
}
body.scroll-hidden {
  overflow: hidden;
}

* {
  font-family: $pf-font;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  line-height: 1.2;
}

.h1,
h1 {
  font-weight: $font-r;
  font-family: $sf-font;
  font-size: rem(57px);
  line-height: rem(58px);
}

.h2,
h2 {
  font-weight: $font-sb;
  font-size: rem(56px);
  line-height: rem(73px);
  font-family: $sf-font;
  font-weight: 700;
}

.h3,
h3 {
  font-weight: $font-sb;
  font-size: rem(30px);
}

.h4,
h4 {
  font-weight: $font-sb;
  font-size: rem(24px);
}

.h5,
h5 {
  font-weight: $font-m;
  font-size: rem(21px);
}

.h6,
h6 {
  font-weight: $font-b;
  font-size: rem(16px);
}

p {
  color: $black;
  font-weight: $font-r;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tags li{
  list-style: disc;
}
img {
  display: block;
  width: auto;
  height: auto;
}

svg {
  width: auto;
  height: auto;
}

.btn,
select {
  //input
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


 .primary {
          background: #ffcc00;
          border: none;
          padding: rem(10px) rem(22px);
          border-radius: rem(30px);
          border: rem(2px) solid #ffcc00;
          cursor: pointer;
          font-size: rem(13px);
          font-weight: 700;
          line-height: rem(13px);
          &:hover {
            background: #fff;

            transform: translateY(rem(-1px));
            // box-shadow: 0 rem(10px) rem(24px) rgba(255, 204, 0, 0.45);
          }
        }

        .outline {
          background: transparent;
          border: rem(2px) solid #ffcc00;
          padding: rem(10px) rem(22px);
          border-radius: rem(30px);
          font-size: rem(13px);
          font-weight: 700;
          line-height: rem(13px);
          cursor: pointer;

          &:hover {
            background: #ffcc00;
            transform: translateY(rem(-1px));
          }
        }
.call {
          display: inline-flex;
          align-items: center;
          gap: rem(8px);
          border: rem(2px) solid #ffcc00;
          padding-left: rem(20px);
          padding-right: rem(4px);
          padding-top: rem(3px);
          padding-bottom: rem(3px);
          border-radius: rem(30px);
          text-decoration: none;
          color: #000;
          width: fit-content;
          font-size: rem(19px);
          line-height: rem(20px);
          font-weight: 900;
          strong {
            display: flex;
            gap: rem(10px);
          }
          img {
            background-color: #ffcc00;
            padding: rem(5px);
            border-radius: 50%;
            max-width: rem(30px);
          }
          &:hover {
            background: #ffcc00;
            transform: translateY(rem(-2px));
            box-shadow: 0 rem(8px) rem(20px) rgba(255, 204, 0, 0.35);
            img {
              background-color: #fff;
            }
          }
        }

         .business-btn {
        font-size: rem(13px);
        font-weight: 700;
        line-height: normal;
        padding-bottom: rem(10px);
        display: flex;
        gap: rem(5px);
        padding: 0;
        img {
          max-width: rem(16px);
          transition: transform 0.3s ease;
        }
        &:hover {
          text-decoration: underline;
          img {
            transform: translateX(rem(2px));
          }
        }
      }

tldx-lmi-shadow-root {
  display: none;
}

@media (max-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1400px);
    margin: 0 auto;
    padding: 0 rem(20px);
  }
}
@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1400px);
    margin: 0 auto;
    padding: 0 rem(20px);
  }
}
