:root {
    // --primary-color: #B38B59;
    --secondary-color: #333;
    --text-color: #444;
    --white: #fff;
    // --max-width: 1200px;
}
.header {
    // position: fixed;
    // top: 0;
    width: 100%;
    background:#161515;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav {
    margin: 0 auto;
    padding: rem(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 0;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    width: 50%;
}

.nav-links a {
    text-decoration: none;
    color:var(--white);
    font-weight: 500;
    transition: color 0.3s ease;
    &:hover {
        color: var(--primary-color , rgba(185, 139, 68, 1));
    }

}

.contact-btn {
    background: #B98B44;
    color: var(--white);
    border: none;
    padding: rem(10px) rem(20px);
    border-radius: rem(27.5px);
    font-size: rem(18px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        transition: background-color 3s ease;
    }
}
.contact-btn-arrow{
    background: #B98B44;
    color: var(--white);
    border: none;
    padding:rem(20px);
    border-radius: 50%;
    font-size: rem(18px);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background: linear-gradient(270deg, #B98B44 0%, #FFE784 11.79%, #B98B44 22.33%, #FFF491 38.95%, #FFE484 53.01%, #B98B44 78.43%);
        ;
    }
}
.button-container {
    display: flex;
    position: relative;
}
.button-container:hover .contact-btn {
    order: 2;
    transition: all .6s ease-in-out;
}
.button-container:hover .contact-btn-arrow {
    order: 1;
    transition: all 10s ease-in-out;
}


.mobile-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}