@include max(d-1920) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1600px);
    padding: 0 rem(20px);
  }
}

@include max(d-1680) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1400px);
    padding: 0 rem(20px);
  }
}

@include max(d-1600) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1350px);
    padding: 0 rem(20px);
  }
}

@include max(d-1440) {
  html,
  body {
    $rem-size: 16px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1200px);
  }
}

@include max(d-1400) {
  html,
  body {
    $rem-size: 16px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1116px);
  }
}

@include max(d-1366) {
  html,
  body {
    $rem-size: 18px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1072px); 
    // max-width: rem(1206px); 
  }
}

@include max(d-1300) {
  html,
  body {
    $rem-size: 15px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1180px);
  }
}

@include max(d-1200) {
  html,
  body {
    $rem-size: 13px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: rem(1180px);
  }
}

@include max(d-991) {
  html,
  body {
    $rem-size: 10px;
    font-size: $rem-size;
  }
}

@include max(d-820) {
  html,
  body {
    $rem-size: 9px;
    font-size: $rem-size;
  }
}

@include max(d-768) {
  html,
  body {
    $rem-size: 9px;
    font-size: $rem-size;
  }
}

@include max(d-600) {
  html,
  body {
    $rem-size: 16px;
    font-size: $rem-size;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100%;
    padding-inline: mrem(22px);
  }

  .sec-title {
    font-size: mrem(24px);
    line-height: 1.4;
    margin-bottom: mrem(20px);
  }
  .btn {
    padding: mrem(10px) mrem(20px);
    font-size: mrem(16px);
  }
}
