@include max(d-600) {

    .header {
        background-color: #161515; /* Default background is removed */
        transition: background-color 0.3s ease-in-out; /* Smooth transition */
    }
    
    .header.menu-open {
        background-color: #161515 !important; /* Background turns red when menu is open */
    }
    .nav-border{
        border-top: 1px solid hsla(0, 0%, 100%, .2196078431);
        // width: 90%;
    }
    .nav-links {
        background-color: transparent; /* Default */
    }
    
    .nav-links.active {
        background-color: #161515 !important; /* Turns red when active */
    }
    
    

    .button-container {
        display: none;
    }
    .nav-links {
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .nav-links {
        display: none; /* Hide the nav links by default on mobile */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
        padding: 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex; /* Show the nav links when the 'active' class is added */
        z-index: 33;
        height: 100vh;
    }
    
    .nav-links a {
        text-decoration: none;
        color:var(--white);
        font-size: rem(18px);
        line-height: rem(21px);
        font-weight: 400;
        transition: color 0.3s ease;
        &:hover {
            color: var(--primary-color , rgba(185, 139, 68, 1));
        }
    
    }

    .mobile-menu {
        display: block; /* Show the mobile menu button on mobile */
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: relative;
        z-index: 1001; /* Ensure it's above other elements */
    }

    .mobile-menu img {
        width: 24px; /* Adjust size as needed */
        height: 24px;
        transition: transform 0.3s ease;
    }

    .mobile-menu.active img {
        transform: rotate(45deg); /* Rotate the icon to create a cross effect */
    }

    .button-container {
        display: none; /* Hide the button container on mobile */
    }
}
