@include min(d-1366) {
  
}

@media (min-width: 1400px) and (max-width: 1440px) {

}
@media (min-width: 1200px) and (max-width: 1280px) {
 
}
@media (min-width: 1600px) and (max-width: 1680px) {
  
}
@media (min-width: 1800px) and (max-width: 1920px) {
  
}
@media (min-width: 1940px) and (max-width: 3840px) {

}

@include max(d-1200) {
 
}

@include max(d-600) {

  
 
}
